baseurl: "" # The subpath of your site. Use "" if you're hosting a blog at the root level.
url: "madeddu.xyz" # the base hostname & protocol for your site.

paginate: 6 #articles per page
paginate_path: /blog/page:num #makes pagination working

# header text
title: Matteo Madeddu
header: Mac OS lover, Docker fan, Go explorer, Python geek, Trello addicted.

# for welcome page
# to replace image go to index.html
email:
  address: "matteo.madeddu@gmail.com"
  text: "matteo.madeddu [at] gmail.com"

# disqus comment
disqus:
    shortname: "made2591" #your disqus comment short name

# google analytics
google:
    tracking-id: "" #your tracking id here

plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

# This is used by feed.xml. Uncomment if you want to use it.
# description: "..."

exclude:
  - "README.md"
  - "CHANGELOG.md"
  - "Gemfile"
  - "Gemfile.lock"

permalink: /posts/:title

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
