<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/">home</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/">home</a>
				</li>
			{% endif %}
			{% if page.path contains "posts/" %}
			<span class="title">
				<li>
					<a href="/posts/">blog</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/posts/">blog</a>
				</li>
			{% endif %}
			{% if page.path == "archive/index.html" %}
			<span class="title">
				<li>
					<a href="/archive/">archive</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/archive/">archive</a>
				</li>
			{% endif %}
			{% if page.path == "categories/index.html" %}
			<span class="title">
				<li>
					<a href="/categories/">categories</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/categories/">categories</a>
				</li>
			{% endif %}
			{% if page.path == "quotes/index.html" %}
			<span class="title">
				<li>
					<a href="/quotes/">quotes</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/quotes/">quotes</a>
				</li>
			{% endif %}
			<li>
				<a href="/matteo_madeddu_cv.pdf">Resume</a>
			</li>
			{% if page.path == "about/index.html" %}
			<span class="title">
				<li>
					<a href="/about/">about</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/about/">about</a>
				</li>
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>
		<ul class="social-links">
			{% for sl in site.data.personal.social %}
				{% unless sl[1] == '' %}
				<li>
					<a href="{{sl[1]}}" title="{{sl[0]}}">
						<img width="19px" height="19px" src="/images/{{sl[0]}}.png"/>
					</a>
				</li>
				{% endunless %}
			{% endfor %}
			<li>
				<a href="https://madeddu.xyz/feed.xml" title="RSS">
					<img width="19px" height="19px" src="/images/rss.png"/>
				</a>
			</li>
		</ul>
	</div>
</header>
